.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: white; */
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.card__title {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-right: 12px;
}

.card__text {
  margin-top: 8px;
  font-size: 1em
}